.page-header
  %h1 New list

.col-lg-6.col-md-8
  .panel.panel-info
    .panel-heading Create a new list
    .panel-body
      = simple_form_for(@list, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
        = f.input :email, hint: "Email-address for this list.", required: true
        = f.input :fingerprint, hint: "Optional: fingerprint of the existing OpenPGP public key to use for this list. A new key-pair will be generated if this is blank or no matching key is found."
        = f.button :submit, 'Create', class: 'btn btn-success'
