= render 'page_header'
= render 'list_menu'

.col.col-lg-6.col-md-8
  - if @list.key.blank?
    .alert.alert-warning 
      %strong No key present! This list is not functional!
  - else
    %pre= @list.key.ascii

- if can? :destroy, @list
  .col.col-lg-6.col-md-4
    .pull-right
      = link_to "Delete list", @list, method: :delete, data: { confirm: "Are you really sure? This does NOT remove any list-data from disk!" }, class: 'btn btn-danger'

