%tr 
  %td
    = render "key_oneline", key: key
  %td{style: 'text-align: right'}
    = render "subscriptions/subscriptions", subscriptions: @subscriptions.select { |s| s.fingerprint == key.fingerprint }
