%tr 
  %td
    = render "key_oneline", key: key
  %td
    - if key.fingerprint == @list.fingerprint
      .listkey= @list.email
    - else
      = @subscriptions.select { |s| s.fingerprint == key.fingerprint }.map do |subscription|
        - link_to subscription.email, subscription_path(subscription)
      - end.join(', ').html_safe
