%tr 
  %td
    = render "key_oneline", key: key
  %td
    = @subscriptions.select { |s| s.fingerprint == key.fingerprint }.map do |subscription|
      - link_to subscription.email, subscription_path(subscription)
    - end.join(', ').html_safe
