- @title = t(".upload_key")

.col-sm-12
  %h2= @title

  = form_tag(list_key_create_path(@list), method: 'post',  multipart: true, id: :keyupload, class: 'simple-form form-horizontal') do
    %fieldset
      %legend Upload a new key
      = render "upload_fields"
    %fieldset
      %legend Submit
      = submit_tag t(".upload"), class: 'btn btn-success'
