defaults: &defaults
  delivery_method: sendmail
  mailer_from: noreply@example.org
  web_hostname: example.org
  schleuderd_uri: http://localhost:4567/

test:
  <<: *defaults
development:
  <<: *defaults
  web_hostname: localhost:3000
production:
  <<: *defaults
