- if can? :show, subscription
  = link_to subscription_path(subscription) do
    = render "subscriptions/subscription_atom", subscription: subscription
- else
  = render "subscriptions/subscription_atom", subscription: subscription
