- @title = "Edit #{@subscription}"

.col-lg-6.col-md-8
  .panel.panel-info
    .panel-heading Edit subscription
    .panel-body= render 'form'

.col-lg-6.col-md-4
  .pull-right
    = link_to t(".unsubscribe_from_list"), delete_subscription_path(@subscription), class: 'text-danger'
