@import "bootstrap-sprockets";
@import "bootstrap";

$maincolor: #4D994D;
#logo {
  color: $maincolor;
  a {
    color: $maincolor;
  }
}

.page-header {
  margin: 0 0 2em;
  #listnameheading {
    font-size: 1.7em;
  }
  ul#listmenu {
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0 1em 0 0;
      font-weight: bold;
      a { 
        font-weight: normal;
      }
    }
  }
}

#submenu {
  margin: -1em 0 2em;
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

.mono {
  font-family: monospace;
}
