!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= generate_h1
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}

    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = csrf_meta_tags
  %body
    - if Rails.env.development?
      #dev-watermark development
    .container
      .container#header
        .navbar-header
          .navbar-brand#logo= link_to 'Schleuder', '/'
        #navbar
          = render 'navbar'
      .container
        %h1.hidden= generate_h1
        = render 'flashes'
        = render 'page_header'
        = yield
